build*
eclipse*
xcode*
neo/ipch
*~
*.gch
*.dll
*.exe
*.7z
*.zip
*.pk4
*.resources
*.crc
.DS_Store
imgui.ini

base/autoexec.cfg
base/classicmusic/
base/joy_360_0.cfg
base/joy_360_1.cfg
base/joy_lefty.cfg
base/joy_righty.cfg
base/maps/
base/sound/
base/strings/
base/video/
base/wads/
base/renderprogs2/
base/generated/
base/env/
base/screenshots/
base/_tb/*.obj
base/_tb/*.mtl

GPATH
GRTAGS
GSYMS
GTAGS
HTML/
neo/.kdev4
neo/neo.kdev4
neo/.idea/
neo/.vscode/
neo/cmake-build-*/
neo/bin/
/tools/
